body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background: #0000ff ;
    user-select: none;
}
h2{
    color: #ffff;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(315deg,
   #b20404 50%, #c0c0c0 51%, #0a0aa1 50% );

   padding: 40px 60px;
}

.reset{
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #ffff;
    border-color: #c0c0c0;
    border-width: 5px;
    font-size: 1.6em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;

}

.reset:focus{
    background-color: #000;
    color: #b20404;
}

.Game{
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style:preserve-3d;
    perspective: 500px;

}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    font-size: 40px;

    transform: rotateY(180deg);
    transition: 0.25s ;
}

.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background: #404040;
    transition: 0.25s ;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen{
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after{
    transform: rotateY(180deg);
 
}